<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"/>
</head>
<body>
<!------------Header------------>
    <header>
        <div class="main-head">
            <div class="head">
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo">
                </div>
                <div class="search">
                    <form action="/" method="POST">
                        <input type="search" name="busqueda" placeholder="Producto, marca...">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <p class="cuotasHead">
                    <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
                    de crédito
                </p>
            </div>
                <nav>
                    <ul id="menu">
                        <a href="#offers"><li>Ofertas</li></a>
                        <a href="#tiendas"><li>Tiendas Oficiales</li></a>
                        <a href="#sell"><li>Vender</li></a>
                        <a href="#help"><li>Ayuda</li></a>
                    </ul>
        ​
                    <ul id="perfil">
                        <a href="/register"
                        ><li>Creá tu cuenta <i class="far fa-address-card"></i></li
                        ></a>
                        <a href="/login"
                        ><li>Ingresá <i class="fas fa-sign-in-alt"></i></li
                        ></a>
                        <a href="#cart"
                        ><li>Mis compras <i class="fas fa-shopping-basket"></i></li></a>
                    </ul>
                </nav>   
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="banner">
            <img src="/images/img-home-banner.jpg" style="width: 100%" alt="" />
        </div>    
    </header>
    <main>
<!------------Section1------------>
        <section class="ultima-visita">
            <h2 id="visited">Basado en tu última visita</h2>
            <div class="articulos">
                <article>
                    <img
                        src="/images/img-cafetera-moulinex.jpg"
                        alt="Cafetera"
                        class="img-producto"
                        />
                    <div class="pie-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img
                        src="/images/img-macbook-pro-2019.jpg"
                        alt="MacBook"
                        class="img-producto"
                    />
                    <div class="pie-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <img
                        src="/images/img-samsung-galaxy-s10.jpg"
                        alt="Samsung Galaxy S10"
                        class="img-producto"
                    />
                    <div class="pie-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <img
                        src="/images/img-tv-samsung-smart.jpg"
                        alt="SmartTv Samsung"
                        class="img-producto"
                    />
                    <div class="pie-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
        </section>
 ​
<!------------Section2------------>
        <section class="ofertas">
            <h2 id="offers">Ofertas</h2>
            <div class="articulos">
                <article>
                    <img
                        src="/images/img-cafetera-moulinex.jpg"
                        alt="Cafetera"
                        class="img-producto"
                        />
                    <div class="pie-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img
                        src="/images/img-macbook-pro-2019.jpg"
                        alt="MacBook"
                        class="img-producto"
                    />
                    <div class="pie-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <img
                        src="/images/img-samsung-galaxy-s10.jpg"
                        alt="Samsung Galaxy S10"
                        class="img-producto"
                    />
                    <div class="pie-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <img
                        src="/images/img-tv-samsung-smart.jpg"
                        alt="SmartTv Samsung"
                        class="img-producto"
                    />
                    <div class="pie-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
        </section>
    </main>
    <!------------Footer------------>
    <footer>
        <div class="main-footer">
            <!------------Section3------------>
            <div class="pago">
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                    efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            ​
            <!------------Section4------------>
            <div class="envio">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            ​
            <!------------Section5------------>
            <div class="seguridad">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p> 
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer, porque estás siempre protegid@.
                </p>
            </div>
        </div>
        <!------------Section6------------>
        <div class="copyright">
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </div>
    </footer>
</body>