<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <style type="text/css">
        BODY {
          font-family: Roboto;
        }
    </style>
</head>
<body>
<!------------Header------------>
    <header class="head">
        <div class="head">
            <div class="logo">
                <img src="/img/logo-mercado-liebre.svg" alt="logo">
            </div>
            <div class="search">
                <form method="get" target="_blank">
                    <input type="search" placeholder="Buscar Productos" />
                  </form>
                  <i class="fas fa-search"></i>
            </div>
        </div>
        <p class="cuotasHead">
            <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta
            de credito
        </p>
        <nav>
            <div class="nav">
              <ul>
                <a href=""><li>Ofertas</li></a>
                <a href=""><li>Tiendas Oficiales</li></a>
                <a href=""><li>Vender</li></a>
                <a href=""><li>Ayuda</li></a>
              </ul>
​
              <ul class="headProfile">
                <a href=""
                  ><li>Crea tu cuenta <i class="far fa-address-card"></i></li
                ></a>
                <a href=""
                  ><li>Ingresá <i class="fas fa-sign-in-alt"></i></li
                ></a>
                <a href=""
                  ><li>Mis compras <i class="fas fa-shopping-basket"></i></li></a>
              </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" style="width: 100%" alt="" />
<!------------Section1------------>
        <h2>Basado en tu última visita</h2>
        <div class="ultima-visita">
            <div>
            <picture>
                <img
                src="/images/img-cafetera-moulinex.jpg"
                alt="Cafetera"
                style="width: 100%"
                />
            </picture>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <h4>Cafetera Moulinex</h4>
            </div>
            <div>
            <img
                src="/images/img-macbook-pro-2019.jpg"
                style="width: 100%"
                alt="mac"
            />
            <p class="precios">$230.000</p>
            <p class="descuentos">20% OFF</p>
            <h4>MacBook Pro 2019</h4>
            </div>
            <div>
            <img
                src="/images/img-samsung-galaxy-s10.jpg"
                style="width: 100%"
                alt="smg"
            />
            <p class="precios">$70.500</p>
            <p class="descuentos">10% OFF</p>
            <h4>Samsung Galaxy S10</h4>
            </div>
            <div>
            <img
                src="/images/img-tv-samsung-smart.jpg"
                style="width: 100%"
                alt="smg"
            />
            <p class="precios">$23.200</p>
            <p class="descuentos">5% OFF</p>
            <h4>SmartTv Samsung 43"</h4>
        </div>
  ​
<!------------Section2------------>
        <h2>Ofertas</h2>
        <div class="ofertas">
            <div>
            <picture>
                <img
                src="/images/img-cafetera-moulinex.jpg"
                alt="Cafetera"
                style="width: 100%"
                />
            </picture>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <h4>Cafetera Moulinex</h4>
            </div>
            <div>
            <img
                src="/images/img-macbook-pro-2019.jpg"
                style="width: 100%"
                alt="mac"
            />
            <p class="precios">$230.000</p>
            <p class="descuentos">20% OFF</p>
            <h4>MacBook Pro 2019</h4>
            </div>
            <div>
            <img
                src="/images/img-samsung-galaxy-s10.jpg"
                style="width: 100%"
                alt="smg"
            />
            <p class="precios">$70.500</p>
            <p class="descuentos">10% OFF</p>
            <h4>Samsung Galaxy S10</h4>
            </div>
            <div>
            <img
                src="/images/img-tv-samsung-smart.jpg"
                style="width: 100%"
                alt="smg"
            />
            <p class="precios">$23.200</p>
            <p class="descuentos">5% OFF</p>
            <h4>SmartTv Samsung 43"</h4>
        </div>
    </main>
    <!------------Footer------------>
    <footer>
        <div class="footer">
            <!------------Section3------------>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
            ​
            <!------------Section4------------>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>
              Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
              miles de productos. Es un beneficio de Mercado Puntos.
            </p>
            ​
            <!------------Section5------------>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p> 
              ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
              hacer, porque estás siempre protegid@.
            </p>  
        </div>
          <!------------Section6------------>
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
          </div>
    </footer>
</body>